.dashboard {
  margin: 20px;
}

.dashboard-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 15px 10px;
}

.dashboard-card-content {
  padding: 15px;
}

.dashboard-card-content-chart {
  padding: 15px;
  max-width: 900px;
}
