<div *ngIf="epicAuthService.oauthService.hasValidAccessToken(); else loginBlock">
  <div class="dashboard">
    <div fxLayout.gt-sm="row" fxLayout="column" fxFlex>
      <div fxFlex>
        <div class="dashboard-card">
          <app-dashboard-card-toolbar [title]="'Patient Information'"></app-dashboard-card-toolbar>
          <div class="dashboard-card-content">
            <app-patient-data [patient]="patient"></app-patient-data>
          </div>
        </div>

        <div class="dashboard-card">
          <app-dashboard-card-toolbar [title]="'Growth Chart'"></app-dashboard-card-toolbar>
          <div class="dashboard-card-content">
            <h4>Weight Observations</h4>
            <ul>
              <li *ngFor="let wtQuantity of weightList">{{wtQuantity.value}} {{wtQuantity.unit}}</li>
            </ul>
          </div>
        </div>

        <!--<div class="dashboard-card">-->
          <!--<app-dashboard-card-toolbar [title]="'Medications'"></app-dashboard-card-toolbar>-->
          <!--<div class="dashboard-card-content">-->
            <!--<h4>Medication List</h4>-->
            <!--<ul>-->
              <!--<li *ngFor="let med of medicationList">{{med.code.text}}</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <div class="dashboard-card" fxFlex>
        <app-dashboard-card-toolbar [title]="'Journey Map'"></app-dashboard-card-toolbar>
        <div class="dashboard-card-content">
          <app-journey-map></app-journey-map>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loginBlock>
  <app-start></app-start>
</ng-template>
