.pt-dashboard {
  margin: auto;
  max-width: 800px;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  /*position: relative;*/
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  /*text-align: center;*/
}
