<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Tabs with text labels</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Name">
        <div class="demo-tab-content">
          <h4>Patient: <span *ngIf="patient">{{patient.name[0]?.given}}</span></h4>
        </div>
      </mat-tab>
      <mat-tab label="Weights">
        <div class="demo-tab-content">
          <div>
            <h4>Weight Observations</h4>
            <ul>
              <li *ngFor="let wtQuantity of weightList">{{wtQuantity.value}} {{wtQuantity.unit}}</li>
            </ul>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Temperatures">
        <div>
          <h4>Temperature Observations</h4>
          <ul>
            <li *ngFor="let tpQuantity of temperatureList">{{tpQuantity.value}} {{tpQuantity.unit}}</li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Hemoglobin Reading">
        <div class="demo-tab-content">
          <div>
            <h4>Hemoglobin List</h4>
            <ul>
              <li *ngFor="let hgQuantity of hemoglobinList">{{hgQuantity.value}} {{hgQuantity.unit}}</li>
            </ul>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Bilirubin">
        <div>
          <h4>Bilirubin List</h4>
          <ul>
            <li *ngFor="let brQuantity of bilirubinList">{{brQuantity.value}} {{brQuantity.unit}}</li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Smoking Status">
        <div>
          <h4>Smoking History</h4>
          <ul>
            <li *ngFor="let smQuantity of smokingString">{{smQuantity}}</li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

