<mat-card class="login-card">
  <header>
  <mat-card-header class="start-header">
    <mat-card-title class="start-card-title">Log In</mat-card-title>
  </mat-card-header>
  </header>
  <mat-card-content class="start-content">
    <!---->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input  type="text" placeholder="Check for your organization" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <!---->
    <mat-form-field class="start-form-field">
      <mat-select
        #endpointSelector
        placeholder="Organization"
        [(value)]="selectedEndpoint"
        (selectionChange)="onSelectionChange(endpointSelector.value)">
        <mat-option *ngFor="let endpoint of endpoints" [value]="endpoint">
          {{ endpoint.OrganizationName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="loading-area">
      <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Retrieving configuration</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="login()" class="mat-primary" [disabled]="!ready">Log In</button>
  </mat-card-actions>
</mat-card>



