<div class="grid-container" *ngIf="!(isHandset$ | async) ">
  <h1 class="mat-h1">Your Care Team</h1>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let card of desktopCards" [colspan]="card.cols" [rowspan]="card.rows" [style.background]="card.color">
      <mat-card class="dashboard-card">
        <mat-card-header class="care-header">
          <div mat-card-avatar class="imageClass"></div>
          <mat-card-title class="care-title">
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle class="care-subtitle">{{card.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{card.content}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="grid-container" *ngIf="isHandset$ | async ">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile *ngFor="let card of handsetCards" [colspan]="card.cols" [rowspan]="card.rows" [style.background]="card.color">
      <mat-card class="dashboard-card">
        <mat-card-header class="care-header">
          <div mat-card-avatar class="imageClass"></div>
          <mat-card-title class="care-title">
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle class="care-subtitle">{{card.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{card.content}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
