<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/landing">Landing Page</a>
      <a mat-list-item href="/patientinfo">Patient Info</a>
      <a mat-list-item href="/journeymap">Journey Map</a>
      <a mat-list-item href="/learning">Learning</a>
      <a mat-list-item href="/careteam">The Team</a>
      <a mat-list-item href="/nicview">NicView</a>
      <a mat-list-item href="/caringbridge">Caring Bridge</a>

    </mat-nav-list>
    <!--<section class="tab-actions">-->
      <!--<button mat-fab color="warn" (click)="drawer.close()">-->
        <!--<mat-icon>close</mat-icon>-->
      <!--</button>-->
    <!--</section>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>My NICU Journey</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <!--<mat-sidenav-content>-->
    <!--<mat-toolbar>-->
    <!--<button mat-stroked-button color="primary" (click)="drawer.open()">Open The Sidenav</button>-->
    <!--</mat-toolbar>-->
  <!--</mat-sidenav-content>-->
</mat-sidenav-container>


