@import '~@angular/material/theming';

$mat-my-teal: (
  50: #E0F5F8,
  100: #B3E7EE,
  200: #80D7E3,
  300: #4DC6D8,
  400: #4DC6D8,
  500: #00AEC7,
  600: #00A7C1,
  700: #009DBA,
  800: #0094B3,
  900: #0084A6,
  A100: #D0F4FF,
  A200: #9DE8FF,
  A400: #6ADBFF,
  A700: #51D5FF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-my-purple: (
  50: #F8EBF3,
  100: #EECDE1,
  200: #E3ABCD,
  300: #D789B8,
  400: #CF70A9,
  500: #C6579A,
  600: #C04F92,
  700: #C04F92,
  800: #B13C7E,
  900: #A42C6C,
  A100: #FFE7F3,
  A200: #FFB4DB,
  A400: #FF81C2,
  A700: #FF68B6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-my-greem: (
  50: #EFF7E4,
  100: #D7ECBC,
  200: #BCDF90,
  300: #A1D263,
  400: #8CC841,
  500: #78BE20,
  600: #70B81C,
  700: #65AF18,
  800: #5BA713,
  900: #48990B,
  A100: #DDFFC8,
  A200: #BDFF95,
  A400: #9DFF62,
  A700: #8EFF48,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-my-pink: (
  50: #FBE9EF,
  100: #F6C7D7,
  200: #F0A2BD,
  300: #E97DA3,
  400: #E5618F,
  500: #E0457B,
  600: #DC3E73,
  700: #D83668,
  800: #D32E5E,
  900: #CB1F4B,
  A100: #FFFFFF,
  A200: #FFCFDA,
  A400: #FF9CB3,
  A700: #FF839F,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
