<!--<button mat-raised-button class="mat-colors-test">My Big Button</button>-->

<mat-grid-list cols="1" rowHeight="3:1" class="gridlist" *ngIf="isHandset$ | async ">
  <mat-grid-tile class="journey-map-tile"
                 *ngFor="let tile of handsetTiles"
                 [colspan]="tile.cols"
                 [rowspan]="tile.rows"
                 [style.background]="tile.color">
    <a routerLink="/journeymap/{{tile.id}}"><h3>{{tile.text}}</h3></a>
    <img *ngIf="tile['img_uri']" class="tile-img" src="{{tile['img_uri']}}">
    <img *ngIf="tile['svg_icon']" class="tile-icon" src="{{tile['svg_icon']}}">
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="2:1" class="gridlist" *ngIf="!(isHandset$ | async) ">
  <mat-grid-tile class="journey-map-tile"
                 *ngFor="let tile of desktopTiles"
                 [colspan]="tile.cols"
                 [rowspan]="tile.rows"
                 [style.background]="tile.color">
    <a routerLink="/journeymap/{{tile.id}}"><h5>{{tile.text}}</h5></a>
    <img *ngIf="tile['img_uri']" class="tile-img" src="{{tile['img_uri']}}">
    <img *ngIf="tile['svg_icon']" class="tile-icon" src="{{tile['svg_icon']}}">
  </mat-grid-tile>
</mat-grid-list>
