@import '~@angular/material/theming';
@import '../../../custom-theme.scss';

.container {
  height: 201px;
}

.lastContainer {
  height: 200px;
}

.item-1 {
  background-color: purple;
  width: 25%;
  height: 200px;
}

.arrow {
  left: 50px;
}

.item-2 {
  background-color: cornflowerblue;
  width: 25%;
  height: 200px;
}

.item-3 {
  background-color: purple;
  width: 25%;
  height: 200px;
}
.item-4 {
  background-color: green;
  width: 25%;
  height: 200px;
}

.gridlist {
  position: center;
}

a:link { text-decoration: none; }
a:visited {text-decoration: none; }
a:hover { text-decoration: underline; text-decoration-color: white;}
.tile-img {
  width: 100%;
  height: auto;
}

.tile-icon {
  height: 80%;
  width: auto;
}

.journey-map-tile {
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  text-align: center;
  /*padding: 5px;*/
  /*margin: 5px;*/
  color: white;
}

// https://material.angular.io/guide/theming-your-components
.mat-colors-test {
  color: mat-color($mat-my-purple, 800);
}
